.shoogle-list {
    list-style-position: outside;
    list-style-type: none;
    list-style-image: none;
}

.shoogle-item {
    float: left;
    width: 190px;
    height: 300px;
    padding: 5px;
    margin: 10px 16px;
}

.shoogle-title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    margin: 5px 0;
    font-weight: normal;
    color: #222;

    display: block;
}

.shoogle-title a, .shoogle-title a:visited, .shoogle-title a:link {
    color: #222;
}

.shoogle-image {
    display: block;
}

.shoogle-teaser {
    line-height: 20px;
    text-align: justify;
    color: #7E7E7E;
    font-family: Lucida Grande, Verdana, Arial, sans-serif;
    font-size: 12px;
}

.shoogle-potd .shoogle-item {
    width: 160px;
    padding: 0;
    margin: 4px 6px;
    height: auto;
}

.shoogle-potd .shoogle-title {
    font-size: 14px;
}

.shoogle-sortable {
    text-align: right;
    margin-right: 45px;
}
